
*{
    /* Geneeriset ominaisuudet koko projektille ja elementeille */
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    color: black;
}

/* Breakpoints for all devices */

@media only screen and (max-width: 600px) {
    /* Extra small devices (phones) ^ */
    body {
        font-size: 1em;
        min-height: 100vh;
        background-image: url('./images/Tausta.png');
        background-repeat: no-repeat;
        /* This puts the focus on the center eg. on mobile devices */
        background-position: 60% 0%;
        /* Täyttää koko käytettävän tilan */
        background-size: cover;
        flex-grow: 1;
    }

    nav {
        background: rgb(26,128,147);
        background: linear-gradient(180deg, rgb(26, 128, 147) 0%, rgba(64,224,208,1) 100%);
        top: 0;
        display: flex;
        height: 8vh;
        width: 100%;
    }

    .logo {
        margin: 2%;
        cursor: pointer;
    }

    li {
       color: black;
       list-style: none;
       padding-left: 5%;
    }

    .nav-menu a {
        color: black;
        text-decoration: none;
    }

    .sublinks {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out, opacity 0.2s ease-in-out;
    }

    .sublinks.active {
        max-height: 60px;
        opacity: 1;
        overflow: visible;
    }

    #sublinks-videopelit {
        font-size: 1.2em;
    }

    .nav-menu {
        /* background-color: turquoise; */
        background: rgb(26,128,147);
        background: linear-gradient(90deg, rgb(0, 209, 174) 20%, rgba(64,224,208,1) 80%);
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: left;
        left: -100%;
        /* align-items: center; */
        width: 100%;
        height: 40vh;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }
    
    .nav-link {
        font-size: 1.5em;
        padding: 4%;
    }
        
    .menuContainer {
        position: absolute;
        display: flex;
        justify-content: center;
        cursor: pointer;
        /* height: 4vh;*/
        right: 1.4vh;
        align-self: center;
        overflow: hidden;
        align-items: center;
        transition: all 0.3s linear;
    }
    .menu {
        width: 50px;
        height: 40px;
        border-radius: 12px;
        border: 3px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        overflow: hidden;
    }
    .line {
        pointer-events: none;
        position: absolute;
        background-color: black;
        border-radius: 10px;
        height: 8%;
        width: 65%;
        transition: all 0.2s linear;
    }
    .line.one {
        top: 70%;
    }
    .line.two {
        opacity: 1;
        transition: opacity 0.3s linear, transform 0.2s linear;
    }
    .line.three {
        bottom: 70%;
    }

    .menuContainer.active .line.one {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }

    .menuContainer.active .line.two {
        opacity: 0;
        transform: translateX(-130%);
    }

    .menuContainer.active .line.three {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
    }

    header h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 10vh;
        margin-top: 2vh;
        text-shadow: 0px 1px 4px rgb(171, 144, 255), 
                    0px 0px 25px rgb(118, 255, 221),
                    0px 0px 25px rgb(118, 255, 221),
                    0px 0px 25px rgb(118, 255, 221);
    }

    .centertext {
        text-align: center;
        padding: 1vh;
        margin: 1vh;
    }

    .bodytext {
        line-height: 1.6;
        padding: 0.5vh;
        margin: 1.0vh;
    }

    .container {
        width: 90%;
        min-height: 70vh;
        background-color:rgb(0, 206, 209);        
        flex-grow: 1;
        border-radius: 10px;
    }

    .text-container {
        display: flex;
        flex-direction: column;
    }

    .image-big {
        max-width: 80%;
        margin: 1vh;
    }

    .image-small {
        max-width: 48%;
        margin: 0.5vh;
    }

    .image-container-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-container-column a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-container-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .buttons-common {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .button-style {
        padding: 10px;
        margin: 10px;
        text-align: center;
        text-decoration: none;
        border: solid 2px;
        border-radius: 10px;
        /* cursor: pointer; */
    }

    #seikkailuBtn {
        background-color: lightgreen;
        border-color: green;
    }
    #toimintaBtn {
        background-color: yellow;
        border-color: darkgoldenrod;
    }
    #simulaatioBtn {
        background-color: lightskyblue;
        border-color: mediumblue;
    }
    #roolipelitBtn {
        background-color: mediumorchid;
        border-color:blueviolet;
    }
    #tasohyppelyBtn {
        background-color: turquoise;
        border-color: darkcyan;
    }
    #kauhuBtn {
        background-color: crimson;
        border-color:darkred;
    }
    #taisteluBtn {
        background-color: lightgray;
        border-color: gray;
    }
    #pulmapelitBtn {
        background-color: lightsalmon;
        border-color: darkorange;
    }
    #ajaminenBtn {
        background-color: lightyellow;
        border-color: yellow;
    }

    .news-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1vh;
    }

    .news-container a, iframe {
        color: black;
        margin: 1vh;
    }

    #quiz-container {
        background: rgb(0,194,255);
        background: linear-gradient(50deg, rgba(0,194,255,1) 0%, rgba(64,224,208,1) 100%);
        border: 3px solid aqua;
        border-radius: 10px;
        min-height: 40vh;
        margin: 1vh;
        padding: 1vh;
        text-align: center;
        align-items: center;
    }
    
    #quiz-container li {
        padding: 2vh;
        margin: 1vh;
        background-color:aquamarine;
        border-radius: 15px;
        text-align: center;
    }

    #quiz-container p {
        margin: 1vh;
        padding: 2vh;
    }

    .startBtn {
        padding: 10px;
        margin: auto;
        text-align: center;
        text-decoration: none;
        background-color:yellow;
        border: solid 2px orange;
        border-radius: 10px;
        text-align: center;
    }

    .resetBtn {
        padding: 10px;
        margin: auto;
        text-align: center;
        text-decoration: none;
        background-color:lightgreen;
        border: solid 2px mediumseagreen;
        border-radius: 10px;
        text-align: center;
    }

    #result-container {
        margin: 2vh;
        padding: 1vh;
        font-weight: bold;
    }

}

@media only screen and (min-width: 600px) {

    body {
        font-size: 1.05em;
        min-height: 100vh;
        background-image: url('./images/Tausta.png');
        background-repeat: no-repeat;
        background-position: 60% 0%;
        background-size: cover;
        flex-grow: 1;
    }

    nav {
        background: rgb(26,128,147);
        background: linear-gradient(180deg, rgb(26, 128, 147) 0%, rgba(64,224,208,1) 100%);
        top: 0;
        display: flex;
        height: 8vh;
        width: 100%;
    }

    .logo {
        margin: 2%;
        cursor: pointer;
    }

    li {
       color: black;
       list-style: none;
       padding-left: 5%;
    }

    .nav-menu a {
        color: black;
        text-decoration: none;
    }

    .sublinks {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out, opacity 0.2s ease-in-out;
    }

    .sublinks.active {
        max-height: 60px;
        opacity: 1;
        overflow: visible;
    }

    #sublinks-videopelit {
        font-size: 1.2em;
    }

    .nav-menu {
        background: rgb(26,128,147);
        background: linear-gradient(90deg, rgb(0, 209, 174) 20%, rgba(64,224,208,1) 80%);
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: left;
        left: -100%;
        width: 100%;
        height: 40vh;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }
    
    .nav-link {
        font-size: 1.5em;
        padding: 4%;
    }
        
    .menuContainer {
        position: absolute;
        display: flex;
        justify-content: center;
        cursor: pointer;
        right: 1.4vh;
        align-self: center;
        overflow: hidden;
        align-items: center;
        transition: all 0.3s linear;
    }
    .menu {
        width: 50px;
        height: 40px;
        border-radius: 12px;
        border: 3px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        overflow: hidden;
    }
    .line {
        pointer-events: none;
        position: absolute;
        background-color: black;
        border-radius: 10px;
        height: 8%;
        width: 65%;
        transition: all 0.2s linear;
    }
    .line.one {
        top: 70%;
    }
    .line.two {
        opacity: 1;
        transition: opacity 0.3s linear, transform 0.2s linear;
    }
    .line.three {
        bottom: 70%;
    }

    .menuContainer.active .line.one {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }

    .menuContainer.active .line.two {
        opacity: 0;
        transform: translateX(-130%);
    }

    .menuContainer.active .line.three {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
    }

    header h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 10vh;
        margin-top: 2vh;
        text-shadow: 0px 1px 4px rgb(171, 144, 255), 
                    0px 0px 25px rgb(118, 255, 221),
                    0px 0px 25px rgb(118, 255, 221),
                    0px 0px 25px rgb(118, 255, 221);
    }

    .centertext {
        text-align: center;
        padding: 1vh;
        margin: 1vh;
    }

    .bodytext {
        line-height: 1.6;
        padding: 0.5vh;
        margin: 1.0vh;
    }

    .container {
        width: 90%;
        min-height: 70vh;
        background-color:rgb(0, 206, 209);        
        flex-grow: 1;
        border-radius: 10px;
    }

    .text-container {
        display: flex;
        flex-direction: column;
    }

    .image-big {
        max-width: 80%;
        margin: 1vh;
    }

    .image-small {
        max-width: 48%;
        margin: 0.5vh;
    }

    .image-container-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-container-column a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-container-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .buttons-common {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .button-style {
        padding: 10px;
        margin: 10px;
        text-align: center;
        text-decoration: none;
        border: solid 2px;
        border-radius: 10px;
        /* cursor: pointer; */
    }

    #seikkailuBtn {
        background-color: lightgreen;
        border-color: green;
    }
    #toimintaBtn {
        background-color: yellow;
        border-color: darkgoldenrod;
    }
    #simulaatioBtn {
        background-color: lightskyblue;
        border-color: mediumblue;
    }
    #roolipelitBtn {
        background-color: mediumorchid;
        border-color:blueviolet;
    }
    #tasohyppelyBtn {
        background-color: turquoise;
        border-color: darkcyan;
    }
    #kauhuBtn {
        background-color: crimson;
        border-color:darkred;
    }
    #taisteluBtn {
        background-color: lightgray;
        border-color: gray;
    }
    #pulmapelitBtn {
        background-color: lightsalmon;
        border-color: darkorange;
    }
    #ajaminenBtn {
        background-color: lightyellow;
        border-color: yellow;
    }

    .news-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1vh;
    }

    .news-container a, iframe {
        color: black;
        margin: 1vh;
    }

    #quiz-container {
        background: rgb(0,194,255);
        background: linear-gradient(50deg, rgba(0,194,255,1) 0%, rgba(64,224,208,1) 100%);
        border: 3px solid aqua;
        border-radius: 10px;
        min-height: 40vh;
        margin: 1vh;
        padding: 1vh;
        text-align: center;
        align-items: center;
    }
    
    #quiz-container li {
        padding: 2vh;
        margin: 1vh;
        background-color:aquamarine;
        border-radius: 15px;
        text-align: center;
    }

    #quiz-container p {
        margin: 1vh;
        padding: 2vh;
    }

    .startBtn {
        padding: 10px;
        margin: auto;
        text-align: center;
        text-decoration: none;
        background-color:yellow;
        border: solid 2px orange;
        border-radius: 10px;
        text-align: center;
    }

    .resetBtn {
        padding: 10px;
        margin: auto;
        text-align: center;
        text-decoration: none;
        background-color:lightgreen;
        border: solid 2px mediumseagreen;
        border-radius: 10px;
        text-align: center;
    }

    #result-container {
        margin: 2vh;
        padding: 1vh;
        font-weight: bold;
    }

}

@media only screen and (min-width: 768px) {
    /* Medium devices (landspace tablets) */
    body {
        font-size: 1.15em;
        min-height: 100vh;
        background-image: url('./images/Tausta.png');
        background-repeat: no-repeat;
        background-position: 60% 0%;
        background-size: cover;
        flex-grow: 1;
    }

    nav {
        background: rgb(26,128,147);
        background: linear-gradient(180deg, rgb(26, 128, 147) 0%, rgba(64,224,208,1) 100%);
        top: 0;
        display: flex;
        height: 12vh;
        width: 100%;
    }

    .logo {
        margin: 2%;
        cursor: pointer;
    }

    li {
       color: black;
       list-style: none;
       padding-left: 5%;
    }

    
    .sublinks {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out, opacity 0.2s ease-in-out;
    }

    .sublinks.active {
        max-height: 60px;
        opacity: 1;
        overflow: visible;
    }

    #sublinks-videopelit {
        font-size: 1.2em;
    }

    .nav-menu a {
        color: black;
        text-decoration: none;
    }

    .nav-menu {
        background: rgb(26,128,147);
        background: linear-gradient(90deg, rgb(0, 209, 174) 20%, rgba(64,224,208,1) 80%);
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: left;
        left: -100%;
        width: 100%;
        height: 45vh;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }
    
    .nav-link {
        font-size: 1.5em;
        padding: 4%;
    }
        
    .menuContainer {
        position: absolute;
        display: flex;
        justify-content: center;
        cursor: pointer;
        right: 1.4vh;
        align-self: center;
        overflow: hidden;
        align-items: center;
        transition: all 0.3s linear;
    }
    .menu {
        width: 50px;
        height: 40px;
        border-radius: 12px;
        border: 3px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        overflow: hidden;
    }
    .line {
        pointer-events: none;
        position: absolute;
        background-color: black;
        border-radius: 10px;
        height: 8%;
        width: 65%;
        transition: all 0.2s linear;
    }
    .line.one {
        top: 70%;
    }
    .line.two {
        opacity: 1;
        transition: opacity 0.3s linear, transform 0.2s linear;
    }
    .line.three {
        bottom: 70%;
    }

    .menuContainer.active .line.one {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }

    .menuContainer.active .line.two {
        opacity: 0;
        transform: translateX(-130%);
    }

    .menuContainer.active .line.three {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
    }

    header h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 10vh;
        margin-top: 2vh;
        text-shadow: 0px 1px 4px rgb(171, 144, 255), 
                    0px 0px 25px rgb(118, 255, 221),
                    0px 0px 25px rgb(118, 255, 221),
                    0px 0px 25px rgb(118, 255, 221);
    }

    .centertext {
        text-align: center;
        padding: 1vh;
        margin: 1vh;
    }

    .bodytext {
        line-height: 1.6;
        padding: 0.5vh;
        margin: 1.0vh;
    }

    .container {
        width: 90%;
        min-height: 70vh;
        background-color:rgb(0, 206, 209);        
        flex-grow: 1;
        border-radius: 10px;
    }

    .text-container {
        display: flex;
        flex-direction: column;
    }

    .image-big {
        max-width: 80%;
        margin: 1vh;
    }

    .image-small {
        max-width: 48%;
        margin: 0.5vh;
    }

    .image-container-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-container-column a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-container-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .buttons-common {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .button-style {
        padding: 10px;
        margin: 10px;
        text-align: center;
        text-decoration: none;
        border: solid 2px;
        border-radius: 10px;
        /* cursor: pointer; */
    }

    #seikkailuBtn {
        background-color: lightgreen;
        border-color: green;
    }
    #toimintaBtn {
        background-color: yellow;
        border-color: darkgoldenrod;
    }
    #simulaatioBtn {
        background-color: lightskyblue;
        border-color: mediumblue;
    }
    #roolipelitBtn {
        background-color: mediumorchid;
        border-color:blueviolet;
    }
    #tasohyppelyBtn {
        background-color: turquoise;
        border-color: darkcyan;
    }
    #kauhuBtn {
        background-color: crimson;
        border-color:darkred;
    }
    #taisteluBtn {
        background-color: lightgray;
        border-color: gray;
    }
    #pulmapelitBtn {
        background-color: lightsalmon;
        border-color: darkorange;
    }
    #ajaminenBtn {
        background-color: lightyellow;
        border-color: yellow;
    }

    .news-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1vh;
    }

    .news-container a, iframe {
        color: black;
        margin: 1vh;
    }

    #quiz-container {
        background: rgb(0,194,255);
        background: linear-gradient(50deg, rgba(0,194,255,1) 0%, rgba(64,224,208,1) 100%);
        border: 3px solid aqua;
        border-radius: 10px;
        min-height: 40vh;
        margin: 1vh;
        padding: 1vh;
        text-align: center;
        align-items: center;
    }
    
    #quiz-container li {
        padding: 2vh;
        margin: 1vh;
        background-color:aquamarine;
        border-radius: 15px;
        text-align: center;
    }

    #quiz-container p {
        margin: 1vh;
        padding: 2vh;
    }

    .startBtn {
        padding: 10px;
        margin: auto;
        text-align: center;
        text-decoration: none;
        background-color:yellow;
        border: solid 2px orange;
        border-radius: 10px;
        text-align: center;
    }

    .resetBtn {
        padding: 10px;
        margin: auto;
        text-align: center;
        text-decoration: none;
        background-color:lightgreen;
        border: solid 2px mediumseagreen;
        border-radius: 10px;
        text-align: center;
    }

    #result-container {
        margin: 2vh;
        padding: 1vh;
        font-weight: bold;
    }



}

@media only screen and (min-width: 992px) {
    /* Large devices (laptops/desktops) */
    body {
        font-size: 1.15em;
        min-height: 100vh;
        background-image: url('./images/Tausta.png');
        background-repeat: no-repeat;
        background-position: 60% 0%;
        background-size: cover;
        flex-grow: 1;
    }

    nav {
        background: rgb(26,128,147);
        background: linear-gradient(180deg, rgb(26, 128, 147) 0%, rgba(64,224,208,1) 100%);
        top: 0;
        display: flex;
        height: 12vh;
        width: 100%;
    }

    .logo {
        margin: 2%;
        cursor: pointer;
    }

    li {
       color: black;
       list-style: none;
       padding-left: 5%;
    }

    
    .sublinks {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out, opacity 0.2s ease-in-out;
    }

    .sublinks.active {
        max-height: 60px;
        opacity: 1;
        overflow: visible;
    }

    #sublinks-videopelit {
        font-size: 1.2em;
    }

    .nav-menu a {
        color: black;
        text-decoration: none;
    }

    .nav-menu {
        background: rgb(26,128,147);
        background: linear-gradient(90deg, rgb(0, 209, 174) 20%, rgba(64,224,208,1) 80%);
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: left;
        left: -100%;
        width: 100%;
        height: 45vh;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }
    
    .nav-link {
        font-size: 1.5em;
        padding: 4%;
    }
        
    .menuContainer {
        position: absolute;
        display: flex;
        justify-content: center;
        cursor: pointer;
        right: 1.4vh;
        align-self: center;
        overflow: hidden;
        align-items: center;
        transition: all 0.3s linear;
    }
    .menu {
        width: 50px;
        height: 40px;
        border-radius: 12px;
        border: 3px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        overflow: hidden;
    }
    .line {
        pointer-events: none;
        position: absolute;
        background-color: black;
        border-radius: 10px;
        height: 8%;
        width: 65%;
        transition: all 0.2s linear;
    }
    .line.one {
        top: 70%;
    }
    .line.two {
        opacity: 1;
        transition: opacity 0.3s linear, transform 0.2s linear;
    }
    .line.three {
        bottom: 70%;
    }

    .menuContainer.active .line.one {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }

    .menuContainer.active .line.two {
        opacity: 0;
        transform: translateX(-130%);
    }

    .menuContainer.active .line.three {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
    }

    header h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 10vh;
        margin-top: 2vh;
        text-shadow: 0px 1px 4px rgb(171, 144, 255), 
                    0px 0px 25px rgb(118, 255, 221),
                    0px 0px 25px rgb(118, 255, 221),
                    0px 0px 25px rgb(118, 255, 221);
    }

    .centertext {
        text-align: center;
        padding: 1vh;
        margin: 1vh;
    }

    .bodytext {
        line-height: 1.6;
        padding: 0.5vh;
        margin: 1.0vh;
    }

    .container {
        width: 90%;
        min-height: 70vh;
        background-color:rgb(0, 206, 209);        
        flex-grow: 1;
        border-radius: 10px;
    }

    .text-container {
        display: flex;
        flex-direction: column;
    }

    .image-big {
        max-width: 80%;
        margin: 1vh;
    }

    .image-small {
        max-width: 48%;
        margin: 0.5vh;
    }

    .image-container-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-container-column a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-container-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .buttons-common {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .button-style {
        padding: 10px;
        margin: 10px;
        text-align: center;
        text-decoration: none;
        border: solid 2px;
        border-radius: 10px;
        /* cursor: pointer; */
    }

    #seikkailuBtn {
        background-color: lightgreen;
        border-color: green;
    }
    #toimintaBtn {
        background-color: yellow;
        border-color: darkgoldenrod;
    }
    #simulaatioBtn {
        background-color: lightskyblue;
        border-color: mediumblue;
    }
    #roolipelitBtn {
        background-color: mediumorchid;
        border-color:blueviolet;
    }
    #tasohyppelyBtn {
        background-color: turquoise;
        border-color: darkcyan;
    }
    #kauhuBtn {
        background-color: crimson;
        border-color:darkred;
    }
    #taisteluBtn {
        background-color: lightgray;
        border-color: gray;
    }
    #pulmapelitBtn {
        background-color: lightsalmon;
        border-color: darkorange;
    }
    #ajaminenBtn {
        background-color: lightyellow;
        border-color: yellow;
    }

    .news-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1vh;
    }

    .news-container a, iframe {
        color: black;
        margin: 1vh;
    }

    #quiz-container {
        background: rgb(0,194,255);
        background: linear-gradient(50deg, rgba(0,194,255,1) 0%, rgba(64,224,208,1) 100%);
        border: 3px solid aqua;
        border-radius: 10px;
        min-height: 40vh;
        margin: 1vh;
        padding: 1vh;
        text-align: center;
        align-items: center;
    }
    
    #quiz-container li {
        padding: 2vh;
        margin: 1vh;
        background-color:aquamarine;
        border-radius: 15px;
        text-align: center;
    }

    #quiz-container p {
        margin: 1vh;
        padding: 2vh;
    }

    .startBtn {
        padding: 10px;
        margin: auto;
        text-align: center;
        text-decoration: none;
        background-color:yellow;
        border: solid 2px orange;
        border-radius: 10px;
        text-align: center;
    }

    .resetBtn {
        padding: 10px;
        margin: auto;
        text-align: center;
        text-decoration: none;
        background-color:lightgreen;
        border: solid 2px mediumseagreen;
        border-radius: 10px;
        text-align: center;
    }

    #result-container {
        margin: 2vh;
        padding: 1vh;
        font-weight: bold;
    }

}

@media only screen and (min-width: 1200px) {
    /* Extra large devices (large laptops and desktops) */
    body {
        font-size: 1.15em;
        min-height: 100vh;
        background-image: url('./images/Tausta.png');
        background-repeat: no-repeat;
        background-position: 60% 0%;
        background-size: cover;
        flex-grow: 1;
    }

    nav {
        background: rgb(26,128,147);
        background: linear-gradient(180deg, rgb(26, 128, 147) 0%, rgba(64,224,208,1) 100%);
        top: 0;
        display: flex;
        height: 12vh;
        width: 100%;
    }

    .logo {
        margin: 2%;
        cursor: pointer;
    }

    li {
       color: black;
       list-style: none;
       padding-left: 5%;
    }

    
    .sublinks {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out, opacity 0.2s ease-in-out;
    }

    .sublinks.active {
        max-height: 60px;
        opacity: 1;
        overflow: visible;
    }

    #sublinks-videopelit {
        font-size: 1.2em;
    }

    .nav-menu a {
        color: black;
        text-decoration: none;
    }

    .nav-menu {
        background: rgb(26,128,147);
        background: linear-gradient(90deg, rgb(0, 209, 174) 20%, rgba(64,224,208,1) 80%);
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: left;
        left: -100%;
        width: 100%;
        max-height: 40vh;
        overflow: auto;
        transition: 0.6s;
    }

    .nav-menu.active {
        left: 0;
    }
    
    .nav-link {
        font-size: 1.5em;
        padding: 1vh;
    }
        
    .menuContainer {
        position: absolute;
        display: flex;
        justify-content: center;
        cursor: pointer;
        right: 1.4vh;
        align-self: center;
        overflow: hidden;
        align-items: center;
        transition: all 0.3s linear;
    }
    .menu {
        width: 50px;
        height: 40px;
        border-radius: 12px;
        border: 3px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        overflow: hidden;
    }
    .line {
        pointer-events: none;
        position: absolute;
        background-color: black;
        border-radius: 10px;
        height: 8%;
        width: 65%;
        transition: all 0.2s linear;
    }
    .line.one {
        top: 70%;
    }
    .line.two {
        opacity: 1;
        transition: opacity 0.3s linear, transform 0.2s linear;
    }
    .line.three {
        bottom: 70%;
    }

    .menuContainer.active .line.one {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }

    .menuContainer.active .line.two {
        opacity: 0;
        transform: translateX(-130%);
    }

    .menuContainer.active .line.three {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
    }

    header h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 10vh;
        margin-top: 2vh;
        text-shadow: 0px 1px 4px rgb(171, 144, 255), 
                    0px 0px 25px rgb(118, 255, 221),
                    0px 0px 25px rgb(118, 255, 221),
                    0px 0px 25px rgb(118, 255, 221);
    }

    .centertext {
        text-align: center;
        padding: 1vh;
        margin: 1vh;
    }

    .bodytext {
        line-height: 1.6;
        padding: 0.5vh;
        margin: 1.0vh;
    }

    .container {
        width: 90%;
        min-height: 70vh;
        background-color:rgb(0, 206, 209);        
        flex-grow: 1;
        border-radius: 10px;
    }

    .text-container {
        display: flex;
        flex-direction: column;
    }

    .image-big {
        max-width: 80%;
        margin: 1vh;
    }

    .image-small {
        max-width: 48%;
        margin: 0.5vh;
    }

    .image-container-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-container-column a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-container-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .buttons-common {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .button-style {
        padding: 10px;
        margin: 10px;
        text-align: center;
        text-decoration: none;
        border: solid 2px;
        border-radius: 10px;
        /* cursor: pointer; */
    }

    #seikkailuBtn {
        background-color: lightgreen;
        border-color: green;
    }
    #toimintaBtn {
        background-color: yellow;
        border-color: darkgoldenrod;
    }
    #simulaatioBtn {
        background-color: lightskyblue;
        border-color: mediumblue;
    }
    #roolipelitBtn {
        background-color: mediumorchid;
        border-color:blueviolet;
    }
    #tasohyppelyBtn {
        background-color: turquoise;
        border-color: darkcyan;
    }
    #kauhuBtn {
        background-color: crimson;
        border-color:darkred;
    }
    #taisteluBtn {
        background-color: lightgray;
        border-color: gray;
    }
    #pulmapelitBtn {
        background-color: lightsalmon;
        border-color: darkorange;
    }
    #ajaminenBtn {
        background-color: lightyellow;
        border-color: yellow;
    }

    .news-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1vh;
    }

    .news-container a, iframe {
        color: black;
        margin: 1vh;
    }

    #quiz-container {
        background: rgb(0,194,255);
        background: linear-gradient(50deg, rgba(0,194,255,1) 0%, rgba(64,224,208,1) 100%);
        border: 3px solid aqua;
        border-radius: 10px;
        min-height: 40vh;
        margin: 1vh;
        padding: 1vh;
        text-align: center;
        align-items: center;
    }
    
    #quiz-container li {
        padding: 2vh;
        margin: 1vh;
        background-color:aquamarine;
        border-radius: 15px;
        text-align: center;
    }

    #quiz-container p {
        margin: 1vh;
        padding: 2vh;
    }

    .startBtn {
        padding: 10px;
        margin: auto;
        text-align: center;
        text-decoration: none;
        background-color:yellow;
        border: solid 2px orange;
        border-radius: 10px;
        text-align: center;
    }

    .resetBtn {
        padding: 10px;
        margin: auto;
        text-align: center;
        text-decoration: none;
        background-color:lightgreen;
        border: solid 2px mediumseagreen;
        border-radius: 10px;
        text-align: center;
    }

    #result-container {
        margin: 2vh;
        padding: 1vh;
        font-weight: bold;
    }



}
